/*variable*/

$ancho: 760px; 
$green: rgb(223, 203, 150);
$blue: rgb(219, 205, 144);
$red: rgb(186, 187, 114); 
$black: rgb(20, 18, 18); 
$color: black;




.div {
    border: 1px solid black;
    width: $ancho;
    background-color: $green;
}
.uno {
    background-color: $blue;
    width: $ancho/2;
}
.caja {
    border: 1px solid black;
    background-color: rgb(235, 198, 173);
    text-align: center;
    height: 100px;

    @if $color==rgb(41, 87, 41){
        background-color: rgb(202, 197, 170);
    }@else if $color== black {
        background-color: rgb(235, 214, 168); 
    }
    }

    /*bucle*/

   @for $i from 1 through 3 {
       .casitodos-#{$i} {width: 2em*$i;}

       
   }